[Desktop Entry]
Version=1.0
Type=Application
Name=AdjustDisplay
GenericName=Display Calibration Tool
GenericName[ja]=ディスプレイ調整ツール
Comment=Visual display calibration and test patterns for Ubuntu Linux
Comment[ja]=Ubuntu ディスプレイ視覚的キャリブレーション & テストパターン
Exec=adjust-display
Icon=video-display
Terminal=false
Categories=Settings;HardwareSettings;Utility;
Keywords=display;monitor;calibration;gamma;brightness;contrast;
